.heading {
    flex: auto;
    flex-direction: row;
    padding: 20px;
}

.heading_news {
    flex: auto;
    flex-direction: row;
    padding: 20px;
}

.heading_news button {
    flex: 2;
    border-radius: 10px;
    cursor: pointer;
}

.heading_id {
    flex: 1;
    justify-content: left;
    display: flex;
    margin-left: 60px;
}

.heading_title {
    flex: 1;
    text-align: left;
    display: flex;
}

.heading button {
    flex: 4;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.heading_flag {
    flex: 1;
    margin-right: 16px;
}

.heading_name,
.heading_population,
.heading_area,
.heading_gini {
    flex: 4;
    color: var(--text-color-secondary);
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
}


.heading_name {
    justify-content: flex-start;
}

.heading_arrow {
    color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2px;
}

.row {
    display: flex;
    padding: 20px;
    text-align: center;

    background-color: var(--background-color-light);
    border-radius: 8px;
    margin-bottom: 16px;

    box-shadow: var(--box-shadow);
    font-weight: 500;

    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.row:hover {
    transform: translateY(-4px);
    background-color: #21b6b7;
    cursor: pointer;
}

.row_button {
    display: flex;
    padding: 20px;
    text-align: center;

    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 16px;

    font-weight: 500;
}



.name {
    flex: 4;
    text-align: left;
    margin-left: 16px;
}

.population {
    flex: 4;
    justify-content: flex-start;
}

.area {
    flex: 4;
}

.gini {
    flex: 4;
}

.heading_flag {
    flex: 1;
}

.flag {
    flex: 1;

}

.flag img {
    border-radius: 2px;
    width: 100%;
}

@media screen and (max-width: 720px) {
    .area,
    .heading_area {
        display: none;
    }

    .gini,
    .heading_gini {
        display: none;
    }

    .flag,
    .heading_flag {
        display: none;
    }
}